# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# 환경 변수
.env

# 업로드 폴더
uploads/

# 가상환경
venv/
ENV/

# IDE 설정
.idea/
.vscode/
*.swp
*.swo 